.ctn{
    text-align: center;
 }
 .form{
     align-self: center;
     width: max-content;
     margin: auto;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .form-group{
     margin: 50px 20px 20px 20px;
     border-bottom: 2px solid black;
 }
 
 .form-group input{
  border: none;
 
 }
 .form-group label{
     margin: auto 10px auto auto ;
    
    }
    .form-group label:focus{
     display: none;
    
    }
 .form-group input:focus{
     outline: none;
    }
  
    .btn{
       margin: 100px 0 10px 0 ;
    }