<section class="ctn" id="Contact">
    <div class="row text-center">
        <div class="col-6 fixed">
            <h1 class="head">Contact</h1>
            <p class="desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quod aut optio debitis ratione, reprehenderit repudiandae totam quae laudantium, praesentium illum voluptatum! Nostrum nemo, itaque omnis pariatur porro et excepturi.
            </p>
            <div class="info">
                <h4>Address</h4>
                <p>Jeddah, Saudi Arabia</p>
                <h4>Email</h4>
                <a href="mailto:heshamamoudi.it@gmail.com">Heshamamoudi.it@gmail.com</a>
            </div>
        </div>
        <div class="col-6 high">
            <h1>Contact Form</h1>
            <form>
                <div class="form-group">
                    
                <input type="text" placeholder="Enter Name" autocomplete="name" name="name" required  [(ngModel)]="name">
                </div>
                <div class="form-group">
                <input type="text" placeholder="Enter Phone Number" autocomplete="phone" name="phone" required  [(ngModel)]="phone">
                </div>
                <div class="form-group">
                   
                <input type="email" placeholder="Enter Email" autocomplete="email" name="email" required  [(ngModel)]="email">
                </div>
                <div class="form-group">
                    
                <textarea  placeholder="Enter Message"  name="message" required  [(ngModel)]="message"></textarea>
                
                </div>

            </form>
        </div>

    </div>
</section>
