/*
.bg{
    background-color: #191a1ffe;
    height: 100vh;
    position: relative;
    overflow: auto;

} */
/* .flex{

    display:flex;
    width: min-content;
    max-height: 500px;
    justify-content: space-between;
} */
